@using PagedList.Mvc;
@model PagedList.IPagedList<MeusJogos.Models.Emprestimo>

@{
    ViewBag.Title = "Gerenciar Empréstimo de Jogos";
}


<center><h2>Gerenciar Empréstimo de Jogos</h2></center>
<p>
    @Html.ActionLink("Cadastrar", "Create", new { area = "" }, new { @class = "btn btn-success", @id = "btnCadastrar" })
</p>
@using (Html.BeginForm("Index", "Emprestimo", FormMethod.Get))
{
    <p>
        Procurar por Amigo: @Html.TextBox("SearchString")
        <input type="submit" value="Busca" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Dt/Hr Cadastro", "Index", new { sortOrder = "Data", SearchString = @Html.Value("SearchString") })
            @*@Html.ActionLink("Dt/Hr Cadastro", "Index", new { sortOrder = "Data" }, new { onclick = "this.href += '&SearchString=' + document.getElementById('SearchString').value;" })*@
            @*@Html.DisplayNameFor(model => model.DataHora)*@
        </th>
        <th>
            @Html.ActionLink("Amigo", "Index", new { sortOrder = "Nome", SearchString = @Html.Value("SearchString") })
            @*@Html.ActionLink("Amigo", "Index", new { sortOrder = "Nome" }, new { onclick = "this.href += '&SearchString=' + document.getElementById('SearchString').value;" })*@
            @*@Html.DisplayNameFor(model => model.AmigoID)*@
        </th>
        <th>
            Dt.Empréstimo
        </th>
        <th>
            Dt.Devolução
        </th>
        <th>
            Situação
        </th>
        <th>
            Jogo
        </th>
        <th>
            Usuário
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amigo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProgramadaDevolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmprestimoSituacao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Login)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EmprestimoID }, new { @class = "btn btn-primary", @id = "btnEditar" })
                @Html.ActionLink("Exibir", "Details", new { id = item.EmprestimoID }, new { @class = "btn btn-warning", @id = "btnExibir" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.EmprestimoID }, new { @class = "btn btn-danger", @id = "btnExcluir" })
            </td>
        </tr>
    }
</table>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))